{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ssmtp_template_comment | comment }}

# sSMTP aliases
#
# Format:       local_account:outgoing_address:mailhub
#
# where [:port] is an optional port number that defaults to 25.
{% for user in ssmtp_users %}
{{ user }}:{{ ssmtp_mail_address }}:{{ ssmtp_mail_hub }}
{% endfor %}
