# SPDX-FileCopyrightText: 2023 Gerald Wiese
#
# SPDX-License-Identifier: GPL-3.0-or-later

# hostname:port:database:username:password
{{ brm_psql_host }}:*:*:{{ brm_psql_replication_user }}:{{ brm_psql_replication_pw }}
{{ brm_psql_host }}:*:*:{{ brm_psql_super_user }}:{{ brm_psql_super_pw }}
