{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

Key-Type: {{ gpg_key_type }}
Key-Length: {{ gpg_key_length }}
Name-Real: {{ gpg_name }}
Name-Email: {{ gpg_mail }}
Expire-Date: {{ gpg_expiration_days }}
Passphrase: {{ gpg_pw }}
{% if gpg_create_subkey %}
Subkey-Type: {{ gpg_subkey_type }}
Subkey-Length: {{ gpg_subkey_length }}"
{% endif %}
