{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

#!/usr/sbin/nft -f

{{ nft_template_comment | comment }}

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0; policy drop;
                iif "lo" accept
                meta l4proto { icmp, ipv6-icmp } accept
                ct state established,related accept
{% for item in nft_allow_input_lines %}
                {{ item }}
{% endfor %}
        }
        chain forward {
                type filter hook forward priority 0;
        }
        chain output {
                type filter hook output priority 0;
        }
}
