{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{% for path in item.logfiles %}
LogFile = {{ path }}
{% endfor %}
{% for path in item.archives %}
Archive = {{ path }}
{% endfor %}
