{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

logwatch: Output = mail
logwatch: TmpDir = {{ lw_cache_dir[ansible_facts.os_family] }}
logwatch: Detail = {{ lw_detail }}
logwatch: Debug = {{ lw_debug }}
{% if lw_ssmtp %}
logwatch: MailTo = {{ lw_mailto }}
logwatch: MailFrom = {{ lw_mailfrom }}
{% endif %}
