{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ psql_template_comment | comment }}

# This file overrides postgresql.conf and drop-in config files with smaller numerical prefixes than 98

synchronous_standby_names = '{{ psql_synchronous_standby_names }}'
