{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
#!/bin/bash

# Remove test log file if exists
[[ ! -f {{ item.test_log }} ]] || rm {{ item.test_log }}

# Set libvirt network to avoid errors in nested cases
export TEST_LIBVIRT_NETWORK_NAME={{ ts_libvirt_network_name }}
export TEST_LIBVIRT_NETWORK_SUBNET={{ ts_libvirt_network_subnet }}

# Enter git repository, run test and pipe to test log file
cd {{ item.path }}
source {{ ts_venv }}/bin/activate
{ time bash {{ item.bash_script }} ; } > {{ item.test_log }} 2>&1

# Extract values of results
TESTS_TOTAL=$(tail -n 20 {{ item.test_log }} | grep "total:" | cut -d " " -f 2)
TESTS_SUCCESS=$(tail -n 20 {{ item.test_log }} | grep "success:" | cut -d " " -f 2)
TESTS_EXECUTION_TIME=$(tail -n 20 {{ item.test_log }} | grep "real" | cut -c 6-)
TESTS_NAME="{{ item.name }}"
TESTS_SUBJECT="Testing Ansible $TESTS_NAME : $TESTS_SUCCESS / $TESTS_TOTAL passed"
TESTS_TRACEBACK=""
if [[ -f {{ item.fail_log }} ]]; then
  TESTS_TRACEBACK=$(cat {{ item.fail_log }} && cat {{ item.test_log }})
fi

echo "$TESTS_SUBJECT"

echo "Execution time was $TESTS_EXECUTION_TIME"

echo "$TESTS_TRACEBACK"

# Write email
sendmail -t <<TESTMAIL
To: {{ ts_target_mail }}
Subject: $TESTS_SUBJECT
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$TESTS_SUBJECT

Execution time was $TESTS_EXECUTION_TIME

$TESTS_TRACEBACK
TESTMAIL
