{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ssh_template_comment | comment }}

{% if ssh_set_port %}
Port {{ ssh_port }}
{% endif %}

{% if ssh_disable_pw_auth %}
PasswordAuthentication no
{% endif %}

{% if ssh_set_log_level %}
LogLevel {{ ssh_log_level }}
{% endif %}
