{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ nginx_template_comment | comment }}

worker_processes  1;

events {
    worker_connections  1024;
}

http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;

    # above taken from shipped config, below added for consistency with Ansible deployment

    include {{ nginx_dir_sites_enabled['FreeBSD'] }}/*;
}
