{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ nginx_template_comment | comment }}

server {
  listen {{ item.external_port }} ssl;
  listen [::]:{{ item.external_port }} ssl;
  server_name {{ nginx_rproxy_domain }};

  error_log /var/log/nginx/error.log;
  access_log /var/log/nginx/access.log;

{% if not nginx_letsencrypt %}
  ssl_certificate {{ nginx_ssl_paths["cert_path"] }}{{ nginx_cert_filename }};
  ssl_certificate_key {{ nginx_ssl_paths["key_path"] }}{{ nginx_key_filename }};
{% else %}
  ssl_certificate /etc/letsencrypt/live/{{ nginx_rproxy_domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx_rproxy_domain }}/privkey.pem;
{% endif %}
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers "ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256";
  ssl_prefer_server_ciphers on;

{% if nginx_include_site_config %}
  include {{ nginx_include_site_config_path }};
{% else %}
  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
{% if not nginx_application_https and not item.uwsgi %}
    proxy_pass http://{{ nginx_application_domain }}:{{ item.internal_port }}/;
    proxy_set_header Host $http_host;
    proxy_read_timeout 300s;
    proxy_connect_timeout 75s;
{% elif nginx_application_https %}
    proxy_pass https://{{ nginx_application_domain }}:{{ item.internal_port }}/;
    proxy_ssl_verify on;
    proxy_ssl_protocols TLSv1.2 TLSv1.3;
    proxy_set_header Host $http_host;
{% if nginx_ownca %}
    proxy_ssl_trusted_certificate {{ nginx_ssl_paths['cert_path'] }}{{ nginx_app_cert_path_ownca | basename }};
    proxy_ssl_crl {{  nginx_ssl_paths['crl_path']  }}{{ nginx_crl_path | basename }};
{% else %}
    proxy_ssl_verify_depth 5;
    proxy_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
{% endif %}
{% elif not nginx_application_https and item.uwsgi %}
    include uwsgi_params;
    uwsgi_pass {{ 'unix://' + item.unix_socket_path if nginx_uwsgi_unix_socket else nginx_application_domain + ':' + item.internal_port }};
    proxy_set_header Host $host;
{% endif %}
{% if nginx_fail2ban %}
    {{ nginx_fail2ban_location_line }}
{% endif %}
  }
{% endif %}
}
