{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
#!/bin/sh

# PROVIDE: {{ item.service_name }}
# KEYWORD: shutdown

. /etc/rc.subr

name={{ item.service_name }}
rcvar={{ item.service_name }}_enable
desc="{{ item.description }}"

load_rc_config $name
{{ ': ${' }}{{ item.service_name }}_enable:=no}
{{ ': ${' }}{{ item.service_name }}_user="{{ item.user }}"}

pidfile="{{ item.run_dir }}/${name}.pid"
command="/usr/sbin/daemon"
command_args="-P ${pidfile} -r uwsgi --cheaper --harakiri --ini {{ item.ini_path }}"
# command_args="-P ${pidfile} -r {{ item.venv }}/bin/uwsgi --cheaper --harakiri --ini {{ item.ini_path }}"

run_rc_command "$1"
