{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ uwsgi_template_comment | comment }}

[Unit]
Description={{ item.description }}
After=syslog.target

[Service]
User={{ item.user }}
{% if item.source_rc %}
ExecStart=/bin/bash -c "source {{ item.rc_path }} && {{ item.venv }}/bin/uwsgi --cheaper --harakiri --ini {{ item.ini_path }}"
{% else %}
ExecStart={{ item.venv }}/bin/uwsgi --cheaper --harakiri --ini {{ item.ini_path }}
{% endif %}
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
