{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ uwsgi_template_comment | comment }}

[uwsgi]
{% if item.https %}
https = [::]:{{ item.port }},{{ item.tls_dir }}/{{ uwsgi_cert_filename }},{{ item.tls_dir }}/{{ uwsgi_key_filename }},HIGH
{% endif %}
{% if item.unix_socket %}
socket = {{ item.unix_socket_path }}
chown-socket = {{ item.user }}:{{ uwsgi_nginx_group_name }}
chmod-socket = 660
socket-timeout = 60
{% endif %}
{% if not item.https and item.tcp_socket %}
socket = [::]:{{ item.port }}
{% endif %}
venv = {{ item.venv }}
stats = {{ item.stats }}
{{ item.app_specific_block }}

# Based on recommendations from https://www.bloomberg.com/company/stories/configuring-uwsgi-production-deployment/
strict = true
master = true
enable-threads = true
vacuum = true                        ; Delete sockets during shutdown
single-interpreter = true
die-on-term = true                   ; Shutdown when receiving SIGTERM (default is respawn)
need-app = true

logto = {{ item.logto }}
disable-logging = {{ not item.logging }}               ; Disable built-in logging
log-4xx = true                                                       ; but log 4xx's anyway
log-5xx = true                                                       ; and 5xx's

harakiri = 600                        ; forcefully kill workers after 600 seconds

max-requests = 1000                  ; Restart workers after this many requests
max-worker-lifetime = 3600           ; Restart workers after this many seconds
reload-on-rss = 2048                 ; Restart workers after this much resident memory
worker-reload-mercy = 60             ; How long to wait before forcefully killing workers

cheaper-algo = busyness
processes = {{ item['max_workers'] }}                        ; Maximum number of workers allowed
cheaper = {{ item['min_workers'] }}                          ; Minimum number of workers allowed
cheaper-initial = {{ item['init_workers'] }}                 ; Workers created at startup
cheaper-overload = 1                                                    ; Length of a cycle in seconds
cheaper-step = {{ item['increase_workers'] }}                ; How many workers to spawn at a time

cheaper-busyness-multiplier = 30     ; How many cycles to wait before killing workers
cheaper-busyness-min = 20            ; Below this threshold, kill workers (if stable for multiplier cycles)
cheaper-busyness-max = 70            ; Above this threshold, spawn new workers
# cheaper-busyness-backlog-alert = 16  ; Spawn emergency workers if more than this many requests are waiting in the queue
# cheaper-busyness-backlog-step = 2    ; How many emergency workers to create if there are too many requests in the queue
# Read more about cheaper and busyness https://uwsgi.readthedocs.io/en/latest/Cheaper.html
