{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ f2b_template_comment | comment }}

[DEFAULT]
ignoreip = 127.0.0.1
{% if f2b_use_mail %}
destemail = {{ f2b_admin_mail }}
{% else %}
# destemail =
{% endif %}
sendername = fail2ban
mta = sendmail
{% if f2b_use_mail %}
action = %(action_mwl)s
{% else %}
action = %(action_)s
{% endif %}

[sshd]
enabled   = true
maxretry  = 3
findtime  = 10m
bantime   = 10m
ignoreip  = 127.0.0.1/8
banaction = {{ f2b_banaction }}
{% if f2b_detect_key_failure %}
publickey = any
{% endif %}
{% if ansible_distribution == 'Debian' and f2b_debian_fix %}
# GitHub issue 3292 https://github.com/fail2ban/fail2ban/issues/3292#issuecomment-1678844644
backend = systemd
{% endif %}

{% if f2b_nginx %}
[nginx-botsearch]
enabled = true
logpath = /var/log/nginx/*.log
port = {{ f2b_nginx_ports }}
banaction = {{ f2b_banaction }}
maxretry = 2

[nginx-http-auth]
enabled = true
logpath = /var/log/nginx/*.log
port = {{ f2b_nginx_ports }}
banaction = {{ f2b_banaction }}

[nginx-limit-req]
enabled = true
logpath = /var/log/nginx/*.log
port = {{ f2b_nginx_ports }}
banaction = {{ f2b_banaction }}
{% endif %}
