#DB params
#Use UNIX sockets
#You can also specify the hostname as POSTGRESQL_URI = "postgresql://localhost/federation"
POSTGRESQL_URI = "{{ th_psql_uri }}"

# Debugging info
DEBUG = True

#Flask Secret Key
SECRET_KEY = "{{ th_flask_secret_key | password_hash('sha512', th_salt) }}"

# File containing the Access Control List and roles
ACL = "{{ th_config_path }}/roles.cfg"
