{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
[Service]
{% if sa_ignore_mail_fail_in_service %}
ExecStopPost=/bin/bash -c 'timeout {{ sa_timeout }} /usr/local/bin/systemd-email %n "inactive" || true'
ExecStartPost=/bin/bash -c 'timeout {{ sa_timeout }} /usr/local/bin/systemd-email %n "activating" || true'
{% else %}
ExecStopPost=/usr/local/bin/systemd-email %n "inactive"
ExecStartPost=/usr/local/bin/systemd-email %n "activating"
{% endif %}