{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
#!/bin/sh

{{ sa_template_comment | comment }}

sendmail -t <<ERRMAIL
To: {{ sa_admin_mail }}
Subject: $1 $2 at $(hostname)
Content-Transfer-Encoding: 8bit
Content-Type: text/plain; charset=UTF-8

$(systemctl status --full "$1")
ERRMAIL
