{#
SPDX-FileCopyrightText: 2024 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Health Client
GenericName=GNU Health Client
GenericName[ca_ES]=Client per l'aplicació GNU Health
GenericName[de]=Client für die GNU Health Applikationsplattform
GenericName[es_AR]=Cliente para la aplicación GNU Health
GenericName[es_EC]=Cliente para la aplicación GNU Health
GenericName[es_ES]=Cliente para la aplicación GNU Health
GenericName[es_CO]=Cliente para la Aplicación GNU Health
GenericName[fr]=Client de la plate-forme applicative GNU Health
GenericName[ru]=Клиент для платформы приложений GNU Health
GenericName[sl]=Odjemalec za GNU Health programsko platformo
Comment=Access GNU Health server
Comment[de]=Verbindet zu einem GNU Health Server
Comment[es_AR]=Acceso al servidor GNU Health
Comment[es_EC]=Acceso al servidor GNU Health
Comment[ca_ES]=Accés al servidor GNU Health
Comment[es_ES]=Acceso al servidor GNU Health
Comment[es_CO]=Acceso al servidor GNU Health
Comment[fr]=Accéder au serveur GNU Health
Comment[ru]=Подключение к серверу GNU Health
Comment[sl]=Dostop do GNU Health strežnika
Keywords=Healthcare;Medicine;Bioinformatics;Management;Enterprise;ERP;Framework;Client;
Exec=gnuhealth-client %u
Icon={{ ghcl_icon_path }}
Terminal=false
MimeType=application/tryton;
Categories=Office;Finance;
X-Desktop-File-Install-Version=0.23

