{#
SPDX-FileCopyrightText: 2023 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}

{{ ghcl_template_comment | comment }}

[login]
{% if ghcl_create_local_profile %}
profile = {{ ghcl_profile_name }}
host = {{ ghcl_host_domain }}
db = {{ ghcl_db }}
expanded = True
login = {{ ghcl_tryton_user }}
{% elif ghcl_add_community_server %}
profile = CommunityServer
host = federation.gnuhealth.org
db = {{ ghcl_community_db }}
expanded = True
login = admin
{% else %}
profile = {{ ghcl_profile_name }}
host = {{ ghcl_host_domain }}
db = {{ ghcl_demo_db_name }}
expanded = True
login = {{ ghcl_tryton_user }}
{% endif %}
