{#
SPDX-FileCopyrightText: 2024 Gerald Wiese

SPDX-License-Identifier: GPL-3.0-or-later
#}
[Desktop Entry]
Version=1.0
Type=Application
Name=GNU Health Documentation
Exec=open {{ ghcl_docs_exe }}
Icon={{ ghcl_icon_path }}
Terminal=false
MimeType=text/html;
Categories=Office;
